body {
  background-color: black;
  /* background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%); */
  height: 100vh;
  color: white;
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px black;
  width: 40rem;
}

::selection {
  background: #0080ff;
  text-shadow: none;
}

input {
  width: 100%;
}

th, td {
  text-align: left;
  padding-right: 2rem;
  border: 1px dotted gray;
}
